image: cirrusci/flutter

variables:
  IOS_XCODE_PROJECT_NAME: "Runner"
  FLAVOR: "dev"
  ANDROID_COMPILE_SDK: "28"
  ANDROID_BUILD_TOOLS: "28.0.2"
  ANDROID_SDK_TOOLS: "4333796"

before_script:
  #Read CICD Vars in a file
  # - "echo { > android/app/globalSettings.json"
  # - 'echo \"PLAY_STORE_UPLOAD_KEYSTORE_ALIAS\": \"$PLAY_STORE_UPLOAD_KEYSTORE_ALIAS\", >> android/app/globalSettings.json'
  # - 'echo \"PLAY_STORE_UPLOAD_KEYSTORE_PASSWORD\": \"$PLAY_STORE_UPLOAD_KEYSTORE_PASSWORD\", >> android/app/globalSettings.json'
  # - 'echo \"PLAY_STORE_UPLOAD_KEY_PASSWORD\": \"$PLAY_STORE_UPLOAD_KEY_PASSWORD\", >> android/app/globalSettings.json'
  # - 'echo \"GCP_PLAYSTORE_SERIVCE_ACCOUNT_EMAIL\": \"$PLAY_STORE_SERVICE_ACCOUNT_EMAIL\", >> android/app/globalSettings.json'
  # - "echo } >> android/app/globalSettings.json"
  # - cat android/app/globalSettings.json
  # - "echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p"

  # Output Playstore Service Account Key JSON to a runtime JSON file
  - "echo $GCP_PLAYSTORE_SERIVCE_ACCOUNT_KEY_JSON > android/app/serviceAccess.json"
  - cat android/app/serviceAccess.json


stages:
  # - test
  # - update
  - build
  - deploy

# tests:
#   stage: test
#   only:
#     - master
#   tags:
#     - appditto_mac
#   script:
#     - flutter test
#   interruptible: true

# update:
#   stage: update
#   # only:
#   #   - master
#   script:
#     - gem install fastlane
#     - flutter packages get
#     - flutter packages upgrade
#   interruptible: false

android:build:
  stage: build
  script:
    - cd android
    # - gem install bundler
    - bundle update --bundler
    - bundle exec fastlane build_android deploy:true
    - rm -f android/local.properties
    - rm -f android/key.properties
  artifacts:
    paths:
      - build/app/outputs/apk/release/app-release.apk
      - build/app/outputs/bundle/release/app.aab
    expire_in: 1 week
  interruptible: true

# ios:build:
#   stage: build
#   tags:
#     - appditto_mac
#   script:
#     - cd ios
#     - export TEMP_KEYCHAIN_NAME=fastlane_$(cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9' | fold -w ${1:-16} | head -n 1)
#     - export TEMP_KEYCHAIN_PASSWORD=$(cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9' | fold -w ${1:-64} | head -n 1)
#     - bundle exec fastlane build_ios
#   artifacts:
#     paths:
#     - ios/Runner.ipa
#     expire_in: 1 week
#   interruptible: true

prod:android:deploy:
  stage: deploy
  tags:
    - appditto_mac
  script:
    - cd android
    - bundle exec fastlane deploy_android production:true
  when: manual
  dependencies:
    - android:build

# prod:ios:deploy:
#   stage: deploy
#   tags:
#     - appditto_mac
#   script:
#     - cd ios
#     - bundle exec fastlane deploy_ios
#   when: manual
#   dependencies:
#     - ios:build

z:internal:android:deploy:
  stage: deploy
  tags:
    - appditto_mac
  script:
    - cd android
    - bundle exec fastlane deploy_android internal:true
  when: manual
  dependencies:
    - android:build
# z:tflight:ios:deploy:
#   stage: deploy
#   tags:
#     - appditto_mac
#   script:
#     - cd ios
#     - bundle exec fastlane deploy_ios testflight:true
#   when: manual
#   dependencies:
#     - android:build
