image: cirrusci/flutter

variables:
  IOS_XCODE_PROJECT_NAME: "Runner"
  FLAVOR: "dev"
  ANDROID_COMPILE_SDK: "28"
  ANDROID_BUILD_TOOLS: "28.0.2"
  ANDROID_SDK_TOOLS: "4333796"

before_script:
  #Read CICD Vars in a file
  - "echo { > android/app/globalSettings.json"
  - 'echo \"PLAY_STORE_UPLOAD_KEYSTORE_ALIAS\": \"$PLAY_STORE_UPLOAD_KEYSTORE_ALIAS\", >> android/app/globalSettings.json'
  - 'echo \"PLAY_STORE_UPLOAD_KEYSTORE_PASSWORD\": \"$PLAY_STORE_UPLOAD_KEYSTORE_PASSWORD\", >> android/app/globalSettings.json'
  - 'echo \"PLAY_STORE_UPLOAD_KEY_PASSWORD\": \"$PLAY_STORE_UPLOAD_KEY_PASSWORD\", >> android/app/globalSettings.json'
  - 'echo \"GCP_PLAYSTORE_SERIVCE_ACCOUNT_EMAIL\": \"$PLAY_STORE_SERVICE_ACCOUNT_EMAIL\", >> android/app/globalSettings.json'
  - "echo } >> android/app/globalSettings.json"
  - cat android/app/globalSettings.json
  - "echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p"

  # Output Playstore Service Account Key JSON to a runtime JSON file
  - "echo $PLAY_STORE_JSON > android/app/serviceAccess.json"
  - cat android/app/serviceAccess.json

stages:
  # - test
  - update
  - build
  - deploy

# tests:
#   stage: test
#   only:
#     - master
#   tags:
#     - appditto_mac
#   script:
#     - flutter test
#   interruptible: true

update:
  stage: update
  only:
    - develop
  script:
    - gem install fastlane
    - flutter packages get
    - flutter packages upgrade
  interruptible: false

ios:prod:buildAndDeploy:
  stage: build
  only:
    - develop
  when: manual
  script:
    - bundle install
    - bundle exec fastlane buildAndRelease prod:true
  artifacts:
    paths:
      - ./Runner.ipa

ios:dev:buildAndDeploy:
  stage: build
  only:
    - develop
  when: manual
  script:
    - bundle install
    - bundle exec fastlane buildAndRelease
  artifacts:
    paths:
      - ./Runner.ipa

android:build:
  stage: build
  only:
    - develop
  script:
    - base64 -d $PLAYSTORE_UPLOAD_KEY_BASE64 > android/app/key.jks
    - cd android
    - bundle update --bundler
    - bundle exec fastlane build_android
    - rm -f android/local.properties
    - rm -f android/key.properties
  artifacts:
    paths:
      - ./build/app/outputs/apk/release/app-release.apk
      - ./build/app/outputs/bundle/prodRelease/app-prod-release.aab
    expire_in: 1 week
  interruptible: true

internal:android:deploy:
  stage: deploy
  only:
    - develop
  script:
    - cd android
    - bundle update --bundler
    - bundle exec fastlane deploy_android internal:true
  when: manual
  dependencies:
    - android:build

alpha:android:deploy:
  stage: deploy
  only:
    - develop
  script:
    - cd android
    - bundle update --bundler
    - bundle exec fastlane deploy_android alpha:true
  when: manual
  dependencies:
    - android:build
