<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_BUILD_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en_US</string>
		<string>pt_BR</string>
	</array>
	<key>CFBundleName</key>
	<string>felloapp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fello.onelink.me</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.298601110864-hn7p8jjvlolisd3jkms5ntodhmkn8l0i</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.76548371644-bqosqtn2g7dgk4h880ujt243g7nk7mbd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>paytmqpHRfp13374268724583</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>paytmCMTNKX90967647249644</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb251100614291797</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>251100614291797</string>
	<key>FacebookDisplayName</key>
	<string>fello_facebook_events</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>6f9d18f671142554dff9da869d835363</string>
	<key>CleverTapAccountID</key>
	<string>$(CleverTapAccountID)</string>
	<key>CleverTapToken</key>
	<string>$(CleverTapToken)</string>
	<key>CleverTapRegion</key>
	<string>in1</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>0</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://fello.in/download/app</string>
		<string>https://fello.in/app/referral</string>
		<string>https://fello.in/claim/goldenticket</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>phonepe</string>
		<string>tez</string>
		<string>paytm</string>
		<string>gpay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Access to Camera is requested. This is only required for choosing your profile picture and completing KYC Verification.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Why is my app authenticating using face id?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to Microphone is requested. This is only required for completing KYC Verification.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to photos is requested. This is only required for choosing your profile picture and completing KYC Verification.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location helps us to verify you kYC details</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open.</string>
	<key>NSContactsIdentifierUsageDescription</key>
	<string>We use contact identifiers to link records.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to find and invite friends.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use user tracking to improve your experience and provide personalized content in our app. This helps us understand how you interact with our app and allows us to tailor our services to better suit your needs. Your data is handled securely and in accordance with our privacy policy.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WEGEnvironment</key>
	<string>IN</string>
	<key>WEGLicenseCode</key>
	<string>$(WEBENGAGE_LICENSE_CODE)</string>
	<key>WEGLogLevel</key>
	<string>VERBOSE</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
